---
layout: default
---
<!doctype html>
<article>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/timeline.css">
  </head>
  <body>
	  <div class="timeline">
		  
  <div class="timeline__component">
    <div class="timeline__date timeline__date--right">August,  2016</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Joined QL</h2>
    <p class="timeline__paragraph">
		Started on desktop as an intern. Many worked on banking floors. Would get the queue down as fast as I could so I could help Engineers in OCM. to Hopefully switch to engineering.
    </p>
  </div>

  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">got hired on as a Software Developer</h2>
    <p class="timeline__paragraph">
		Got hired on full time as a software developer doing AMP support. Got involved in many Tech Incidents and backend processes. Fixed many of AMP's availabitly, Database, and scaling issues. Started doing Systems work as well.
    </p>
    <p class="timeline__paragraph">
		During this time I also got promoted to software engineer. Got nominated twice for best exectution and winning once.
    </p>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date">January, 2017</div>
  </div>

  <div class="timeline__component">
    <div class="timeline__date timeline__date--right">January, 2019</div>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Switched teams and got Senior</h2>
    <p class="timeline__paragraph">
		Hoped around to different teams. Trying to find a team to own backend process. Ended up reporting Directly to Rob Mannarino Still working on stability of AMP. While also working on CI/CD and load testing as part of lightyear project.
    </p>
    <p class="timeline__paragraph">
		During this time I also got promoted to senior software engineer.
    </p>
  </div>

  <div class="timeline__component timeline__component--bg">
    <h2 class="timeline__title">Switch to a different stack</h2>
    <p class="timeline__paragraph">
		I wanted to work on a modern stack and asked to switch teams. I got put on Josh Baren's team mostly doing Angular on Accelerator app	
    </p>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
  </div>
  <div class="timeline__component">
    <div class="timeline__date">January, 2020</div>
  </div>

  <div class="timeline__component timeline__component--bottom timeline__component--bg">
    <h2 class="timeline__title">Switched to Systems Engineer</h2>
    <p class="timeline__paragraph">
		During this time I knew I wanted to be an SRE. Alex Wheaton was starting a SRE team and applied to join. Part of joining was switching roles so I could gain more Systems Engineering experence. 
    </p>
    <p class="timeline__paragraph">
		Changes roles was huge and I spent a lot of time trying to catch up on my knowledge learning, linux, networking, AWS, Cicleci, etc. 	
    </p>
  </div>
  <div class="timeline__middle">
    <div class="timeline__point"></div>
    <div class="timeline__point timeline__point--bottom"></div>
  </div>
  <div class="timeline__component timeline__component--bottom">
    <div class="timeline__date">July, 2020</div>
  </div>

</div>
  <link rel="stylesheet" href="/assets/css/timeline.css">
</body>
</article>
